apiVersion: v1
kind: Service
metadata:
  name: rails-sample
  namespace: {{ .Release.Namespace }}
  labels:
    app: rails-sample
spec:
  selector:
    app: rails-sample
    version: {{ .Chart.Version }}
    zorgdomein.nl/logtype: component
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
  type: ClusterIP